<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="gateaudamourConnectionString" connectionString="server=127.0.0.1;user id=root;password=aluno;database=gateauDamour"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
        binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
        contract="correiosWebService.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
</configuration>